# created by virtualenv automatically
./config.py
./lib
./Scripts
./pyvenv.cfg
/Scripts/
/Lib/
/config.py
/pyvenv.cfg
/.idea/imagequotebot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
